.contactInfo {
  display: inline-block;
  margin-right: 15px;
}

.contactItem {
  border-radius: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 36px;
  width: 320px;
  margin-bottom: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}